.contact-body {
  padding: 0 4rem;
  background: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 4rem;
}

ul {
  padding: 2rem 0;
  font-size: 3rem;
  list-style: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}