/* contacts */
.aaron-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  background: #f8f8f8;
}

.aaron-header h3 {
  padding: 0 4rem;
  font-size: 4rem;
}

.messages-body {
  background: #fff;
}

/* text-area */
.text-area {
  padding: 0 2rem;
  height: 940px;
  width:100%;
  font-size: 3rem;
  overflow: scroll;
  /* line-height: 1.5; */
}

/* seperating the text blocks */
p {
  padding: 2rem 0;
}

.text-input {
  position: absolute;
  top: 1050px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.send-box {
  position: relative;
  height: 5.5rem;
  width: 5.5rem;
  background: #b5e5a2;
  font-size: 3.7rem;
  border-radius: 50px;
}

.fa-paper-plane {
  position: absolute;
  left: 10%;
  top: 20%;
}

.text-panel {
  position: absolute;
  bottom: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  background: #e9e9e9;
}

.numbers {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

/* Flex is being used to position the buttons but I think using grid would work better. will refactor later */

button {
  margin: .5rem .2rem;
  width: 5.5rem;
  font-size: 4rem;
  border: none;
  border-radius: 10px;
  background: #fff;
}

.space, .enter {width: auto;}

.message-footer {
  background: #f8f8f8;
}