/*
  input boxes
  buttons
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  /* align-items: center; */
  flex-direction: column;
  background: #ffff97d5;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem 1rem 2rem;
  height: 150px;
  background: yellow;
  border-bottom: 3px solid #333;
}

.header-left {
  display: flex;
}

.app-h1 {
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  text-transform: capitalize;
}

/* logo */
.fa-glass-martini-alt {
  font-size: 70px;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  width: 100%;
  background: lightblue;
}

input {
  margin: .5rem;
  width: 800px;
  height: 80px;
  font-size: 3rem;
  border: 2px solid #333;
}

/* buttons */
.form-btns {
  align-items: center;
}

.form-btns button {
  margin: 0 2rem;
  height: 70px;
  width: 200px;
  font-size: 3rem;
}

.btns {
  display: flex;
  /* justify-content: flex-start; */
  /* width: 100%; */
  align-items: center;
  height: 4rem;
  font-size: 60px;
  margin: 1rem 0;
}

.fa-plus, .fa-th-list {
  display: grid;
  place-items: center;
  height: 90px;
  width: 90px;
  border: 3px solid #333;
  border-radius: 50%;
  background: #fff;
  outline: none;
}

.fa-plus:hover, .fa-th-list:hover {
  cursor: pointer;
}

.fa-plus {
  margin-right: 4rem;
}

/* contact do not call list */
.contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 4rem;
}

/* footer */
footer {
  position: absolute;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
}

.fa-square, .fa-arrow-left {
  display: grid;
  place-items: center;
  height: 5rem;
  width: 5rem;
  font-size: 3rem;
  /* background: pink;
  border: 1px solid black; */
  border-radius: 50%;
}

.fa-square:hover, .fa-arrow-left:hover {
  background: #fff;
  cursor: pointer;
}

.history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 3rem;
  width: 3rem;
}

.top-line {
  width: 100%;
  height: 40%;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-bottom-right-radius: 5px;
}

.bottom-line {
  padding-top: 5px;
  width: 100%;
  height: 40%;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-top-left-radius: 5px;
}

/* home link */
a {
  text-decoration: none;
  color: black;
}